events {
    worker_connections 1024;
}

http {
    include /etc/nginx/mime.types;

    server {
        listen ${NGINX_PORT};
        root /www/data/;

        location /images/ {
            autoindex off;
        }

        location /api/ {
            proxy_pass http://${API_HOST}:${API_PORT};
        }
    }
}
