events {
    worker_connections 1024;
}

http {
    include /etc/nginx/mime.types;

    server {
        listen ${NGINX_PORT};

        root /www/data/;

        location / {
            root /www/data/html/;
            index index.html;
        }

        location /static {
            alias /www/data/static/;
        }

        location /images {
            alias /www/data/images/;
        }

        location /api/ {
            proxy_pass http://${API_HOST}:${API_PORT};
        }
    }
}
