@font-face {
  font-family: leaguespartan-bold;
  src: url(fonts/leaguespartan-bold.woff2);
}

@font-face {
  font-family: LibreBaskerville-Regular;
  src: url(fonts/LibreBaskerville-Regular.woff);
}

body {
  margin: 20px;
  padding: 0;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 100px 300px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.gallery-item:hover .image img {
  transform: scale(1.5);
}

.gallery-item .text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  pointer-events: none;
  z-index: 4;
  transition: .3s ease-in-out;
  -webkit-backdrop-filter: blur(5px) saturate(1.8);
  backdrop-filter: blur(5px) saturate(1.8);
}

.gallery-item:hover .text {
  opacity: 1;
  animation: move-down .3s linear;
  padding: 1em;
  width: 100%;
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

.w-4 {
  grid-column: span 4;
}

.w-5 {
  grid-column: span 5;
}

.w-6 {
  grid-column: span 6;
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.h-3 {
  grid-row: span 3;
}

.h-4 {
  grid-row: span 4;
}

.h-5 {
  grid-row: span 5;
}

.h-6 {
  grid-row: span 6;
}

@media screen and (max-width:500px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .w-1,
  .w-2,
  .w-3,
  .w-4,
  .w-5,
  .w-6 {
    grid-column: span 1;
  }

  .h-1,
  .h-2,
  .h-3,
  .h-4,
  .h-5,
  .h-6 {
    grid-row: span 3;
  }
}



@keyframes move-down {

  0% {
    top: 10%;
  }

  50% {
    top: 35%;
  }

  100% {
    top: 50%;
  }
}



h1 {
  color: white;
  /* margin: 20px 0px 20px; */
  font-size: 15px;
  /* font-family: leaguespartan-bold, sans-serif; */
}



h3 {
  color: white;
  font-size: 20px;
  /* font-family: LibreBaskerville-Regular, sans-serif; */
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 50px;
}

h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 20px;
}


.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;



}

.about-text {
  width: 550px;
  /* font-family: leaguespartan-bold, sans-serif; */
}


.about-text h2 {
  color: #f9004d;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;


}

.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;

  /* font-family: LibreBaskerville-Regular, sans-serif; */
  font-style: italic;
  font-weight: lighter;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  /* color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s;  */

  width: 140px;
  height: 50px;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  background-color: #f9004d;
  box-shadow: inset 0 0 0 0 #04f1be;
  transition: ease-out 0.3s;
  outline: none;
  border-radius: 7px;
}

button:hover {
  background-color: #04f1be;
  box-shadow: inset 140px 0 10px 0 #04f1be;
  cursor: pointer;
  color: #242941
}


textarea {
  /* margin-top: 10px;
    margin-left: 50px; */
  width: 500px;
  height: 90px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 0px 0px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
  resize: vertical;
}


textarea:focus {
  background: none repeat scroll 0 0 #121212;
  outline-width: 0;
}







#range-value {
  /* position: relative; */
  /* display: block; */
  /* text-align: center; */
  font-size: 1em;
  color: #999;
  font-weight: 400;
}



.params-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 14em;
  position: relative;
}

.params-container__column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style: none;
  margin: .35em;
  padding: 0;
  height: 14em;
  position: relative;
}

.params-container__item {
  background: none repeat scroll 0 0 #191919;
  width: 17em;
  height: 4em;
  margin: .15em;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 0px 0px medium;
}

#seed {
  /* background: #fff; */
  /* border: 1px solid #000; */
  /* border-radius: 5px; */
  /* padding: 5px; */
  box-sizing: border-box;

  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 0px 0px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
  resize: vertical;
}

#seed:focus {
  background: none repeat scroll 0 0 #121212;
  outline-width: 0;
}










body {
  font-family: sans-serif;
  margin: 0;
  background: #f2f2f2;
}

/* h1 {
  text-align: center;
  margin-top: 50px;
} */

p {
  text-align: center;
  margin-bottom: 60px;
}

h4 {
  text-align: center;
  line-height: 80px;
  font-weight: normal;

}

.masonry {
  /* Masonry container */
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
}

.item {
  display: inline-block;
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
  width: 100%;
  /* -webkit-transition:1s ease all; */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;
}

.item img {
  max-width: 100%;
}

@media only screen and (max-width: 320px) {
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 1201px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}




.popup {
  display: block;

  position: fixed;
  padding: 10px;
  width: 100%;
  height: 100vh;
  background: #121212a4;
  z-index: 20;

  left: 0;
  top: 0;
  overflow: hidden;


  -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}


.popup-inner {
  width: min-content;
  height: 90%;
  margin: 0 auto;
  background-color: #5f5f5f;

}
